Exemplos/ACBrDFe/Schemas/NFSe/ISSFortaleza/1.00/nfse.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns="http://www.ginfes.com.br/tipos_v03.xsd" 
            xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" 
            targetNamespace="http://www.ginfes.com.br/tipos_v03.xsd" 
            elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema20020212_v04.xsd"/>
	<xsd:simpleType name="tsNumeroNfse">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="15"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoVerificacao">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="9"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsStatusRps">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsStatusNfse">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsNaturezaOperacao">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2|3|4|5|6|7"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsRegimeEspecialTributacao">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2|3|4|5|6"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsSimNao">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsNumeroRps">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="15"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsSerieRps">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsTipoRps">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2|3"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsValor">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="15"/>
			<xsd:fractionDigits value="2" fixed="true"/>
			<xsd:minInclusive value="0"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsDesc50">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsDesc150">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="150"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsDesc255">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsItemListaServico">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoCnae">
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="7"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoTributacao">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsAliquota">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="5"/>
			<xsd:fractionDigits value="4"/>
			<xsd:minInclusive value="0"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsDiscriminacao">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2000"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoMunicipioIbge">
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="7"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoNbs">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,9}"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsInscricaoMunicipal">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsRazaoSocial">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="115"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsNomeFantasia">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCnpj">
		<xsd:restriction base="xsd:string">
			<xsd:length value="14" fixed="true"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsEndereco">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="125"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsNumeroEndereco">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsComplementoEndereco">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsBairro">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsUf">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2" fixed="true"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCep">
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="8" fixed="true"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsEmail">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsTelefone">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCpf">
		<xsd:restriction base="xsd:string">
			<xsd:length value="11" fixed="true"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsIndicacaoCpfCnpj">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2|3"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoObra">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsArt">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsInscImobFiscal">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCadNacObra">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:minLength value="0"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsNumeroLote">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="15"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsNumeroProtocolo">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsSituacaoLoteRps">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2|3|4"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsQuantidadeRps">
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="4"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoMensagemAlerta">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsDescricaoMensagemAlerta">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="200"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoCancelamentoNfse">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsNomeEvento">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsIdentificacaoEvento">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsModoPrestacao">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="0|1|2|3|4"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsVinculoPrestacao">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="0|1|2|3|4|5|6"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsTipoMoeda">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
			<xsd:pattern value="[0-9]{3}"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsMecanismoComexPrestador">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="00|01|02|03|04|05|06|07|08"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsMecanismoComexTomador">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="00|01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsMovimentacaoTempBens">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="0|1|2|3"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsNumeroDeclaracao">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
			<xsd:minLength value="0"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsNumeroRegistro">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
			<xsd:minLength value="0"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsMdic">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="0|1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCategoriaVeiculos">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="00|01|02|03|04|05|06|07|09|10"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsNumeroEixos">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,2}"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsRodagem">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsSentido">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,3}"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsPlaca">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{2,3}[0-9]{4}|[A-Z]{3,4}[0-9]{3}"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoAcesso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-zA-Z0-9]{10}"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoContrato">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-zA-Z0-9]{4}"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCategoriaServico">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="0|1|2|3|4|5"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsTipoObjeto">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="0|1|2|3|4|5|6"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsExtensao">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,5}"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsNumeroPostes">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,6}"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoIndicadorFinalidadeNFSe">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="0"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoIndicadorOperacaoUsoConsumoPessoal">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="0|1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoIndicadorOperacao">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{6}"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsTipoOp">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2|3|4|5"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsChaveNFSeReferenciada">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{50}"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsTipoEnteGovernamental">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2|3|4"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsIndDest">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="0|1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsNif">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsNaoNif">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="0|1|2"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsInscImobFisc">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoCIB">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCST">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoClassTrib">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{6}"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoCreditoPresumido">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsTipoReeRepRes">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="01|02|03|04|99"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsCodigoMunicipioDocFiscal">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{17}"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsTipoChaveDFe">
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2|3|9"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsIdTag">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tsVersao">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[0-9]{1,4}"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--  tipos complexo -->
	<xsd:complexType name="tcCpfCnpj">
		<xsd:choice>
			<xsd:element name="Cpf" type="tsCpf"/>
			<xsd:element name="Cnpj" type="tsCnpj"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="tcEndereco">
		<xsd:sequence>
			<xsd:element name="Endereco" type="tsEndereco" minOccurs="0"/>
			<xsd:element name="Numero" type="tsNumeroEndereco" minOccurs="0"/>
			<xsd:element name="Complemento" type="tsComplementoEndereco" minOccurs="0"/>
			<xsd:element name="Bairro" type="tsBairro" minOccurs="0"/>
			<xsd:element name="CodigoMunicipio" type="tsCodigoMunicipioIbge" minOccurs="0"/>
			<xsd:element name="Uf" type="tsUf" minOccurs="0"/>
			<xsd:element name="Cep" type="tsCep" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcContato">
		<xsd:sequence>
			<xsd:element name="Telefone" type="tsTelefone" minOccurs="0"/>
			<xsd:element name="Email" type="tsEmail" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcIdentificacaoOrgaoGerador">
		<xsd:sequence>
			<xsd:element name="CodigoMunicipio" type="tsCodigoMunicipioIbge"/>
			<xsd:element name="Uf" type="tsUf"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcIdentificacaoRps">
		<xsd:sequence>
			<xsd:element name="Numero" type="tsNumeroRps"/>
			<xsd:element name="Serie" type="tsSerieRps"/>
			<xsd:element name="Tipo" type="tsTipoRps"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcIdentificacaoPrestador">
		<xsd:sequence>
			<xsd:element name="Cnpj" type="tsCnpj"/>
			<xsd:element name="InscricaoMunicipal" type="tsInscricaoMunicipal" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcIdentificacaoTomador">
		<xsd:sequence>
			<xsd:element name="CpfCnpj" type="tcCpfCnpj" minOccurs="0"/>
			<xsd:element name="InscricaoMunicipal" type="tsInscricaoMunicipal" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcDadosTomador">
		<xsd:sequence>
			<xsd:element name="IdentificacaoTomador" type="tcIdentificacaoTomador" minOccurs="0"/>
			<xsd:element name="RazaoSocial" type="tsRazaoSocial" minOccurs="0"/>
			<xsd:element name="Endereco" type="tcEndereco" minOccurs="0"/>
			<xsd:element name="Contato" type="tcContato" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcIdentificacaoIntermediarioServico">
		<xsd:sequence>
			<xsd:element name="RazaoSocial" type="tsRazaoSocial"/>
			<xsd:element name="CpfCnpj" type="tcCpfCnpj"/>
			<xsd:element name="InscricaoMunicipal" type="tsInscricaoMunicipal" minOccurs="0"/>
			<xsd:element name="Endereco" type="tcEndereco" minOccurs="0"/>
			<xsd:element name="Contato" type="tcContato" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcValores">
		<xsd:sequence>
			<xsd:element name="ValorServicos" type="tsValor"/>
			<xsd:element name="ValorDeducoes" type="tsValor" minOccurs="0"/>
			<xsd:element name="ValorPis" type="tsValor" minOccurs="0"/>
			<xsd:element name="ValorCofins" type="tsValor" minOccurs="0"/>
			<xsd:element name="ValorInss" type="tsValor" minOccurs="0"/>
			<xsd:element name="ValorIr" type="tsValor" minOccurs="0"/>
			<xsd:element name="ValorCsll" type="tsValor" minOccurs="0"/>
			<xsd:element name="IssRetido" type="tsSimNao"/>
			<xsd:element name="ValorIss" type="tsValor" minOccurs="0"/>
			<xsd:element name="ValorIssRetido" type="tsValor" minOccurs="0"/>
			<xsd:element name="OutrasRetencoes" type="tsValor" minOccurs="0"/>
			<xsd:element name="BaseCalculo" type="tsValor" minOccurs="0"/>
			<xsd:element name="Aliquota" type="tsAliquota" minOccurs="0"/>
			<xsd:element name="ValorLiquidoNfse" type="tsValor" minOccurs="0"/>
			<xsd:element name="DescontoIncondicionado" type="tsValor" minOccurs="0"/>
			<xsd:element name="DescontoCondicionado" type="tsValor" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcDadosServico">
		<xsd:sequence>
			<xsd:element name="Valores" type="tcValores"/>
			<xsd:element name="ItemListaServico" type="tsItemListaServico"/>
			<xsd:element name="CodigoCnae" type="tsCodigoCnae" minOccurs="0"/>
			<xsd:element name="CodigoTributacaoMunicipio" type="tsCodigoTributacao" minOccurs="0"/>
			<xsd:element name="Discriminacao" type="tsDiscriminacao"/>
			<xsd:element name="CodigoMunicipio" type="tsCodigoMunicipioIbge"/>
			<xsd:element name="CodigoNbs" type="tsCodigoNbs" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcDadosConstrucaoCivil">
		<xsd:sequence>
			<xsd:element name="CodigoObra" type="tsCodigoObra"/>
			<xsd:element name="Art" type="tsArt"/>
			<xsd:element name="InscImobFiscal" type="tsInscImobFiscal" minOccurs="0"/>
			<xsd:element name="CadNacObra" type="tsCadNacObra" minOccurs="0"/>
			<xsd:element name="Endereco" type="tcEndereco" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcDadosPrestador">
		<xsd:sequence>
			<xsd:element name="IdentificacaoPrestador" type="tcIdentificacaoPrestador"/>
			<xsd:element name="RazaoSocial" type="tsRazaoSocial"/>
			<xsd:element name="NomeFantasia" type="tsNomeFantasia" minOccurs="0"/>
			<xsd:element name="Endereco" type="tcEndereco"/>
			<xsd:element name="Contato" type="tcContato" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcDadosEventos">
		<xsd:sequence>
			<xsd:element name="NomeEvento" type="tsNomeEvento" minOccurs="0"/>
			<xsd:element name="DataInicioEvento" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="DataFimEvento" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="IdentificacaoEvento" type="tsIdentificacaoEvento" minOccurs="0"/>
			<xsd:element name="Endereco" type="tcEndereco" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcDadosExportacao">
		<xsd:sequence>
			<xsd:element name="ModoPrestacao" type="tsModoPrestacao" minOccurs="0"/>
			<xsd:element name="VinculoPrestacao" type="tsVinculoPrestacao" minOccurs="0"/>
			<xsd:element name="TipoMoeda" type="tsTipoMoeda" minOccurs="0"/>
			<xsd:element name="ValorServicoExportacao" type="tsValor" minOccurs="0"/>
			<xsd:element name="MecanismoComexPrestador" type="tsMecanismoComexPrestador" minOccurs="0"/>
			<xsd:element name="MecanismoComexTomador" type="tsMecanismoComexTomador" minOccurs="0"/>
			<xsd:element name="MovimentacaoTempBens" type="tsMovimentacaoTempBens" minOccurs="0"/>
			<xsd:element name="NumeroDeclaracao" type="tsNumeroDeclaracao" minOccurs="0"/>
			<xsd:element name="NumeroRegistro" type="tsNumeroRegistro" minOccurs="0"/>
			<xsd:element name="Mdic" type="tsMdic" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcDadosExploracaoRodovias">
		<xsd:sequence>
			<xsd:element name="CategoriaVeiculos" type="tsCategoriaVeiculos"/>
			<xsd:element name="NumeroEixos" type="tsNumeroEixos"/>
			<xsd:element name="Rodagem" type="tsRodagem"/>
			<xsd:element name="Sentido" type="tsSentido"/>
			<xsd:element name="Placa" type="tsPlaca"/>
			<xsd:element name="CodigoAcesso" type="tsCodigoAcesso"/>
			<xsd:element name="CodigoContrato" type="tsCodigoContrato"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcDadosLocacaoSublocacao">
		<xsd:sequence>
			<xsd:element name="CategoriaServico" type="tsCategoriaServico" minOccurs="0"/>
			<xsd:element name="TipoObjeto" type="tsTipoObjeto" minOccurs="0"/>
			<xsd:element name="Extensao" type="tsExtensao" minOccurs="0"/>
			<xsd:element name="NumeroPostes" type="tsNumeroPostes" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcDadosIbsCbs">
		<xsd:sequence>
			<xsd:element name="CodigoIndicadorFinalidadeNFSe" type="tsCodigoIndicadorFinalidadeNFSe" minOccurs="0"/>
			<xsd:element name="CodigoIndicadorOperacaoUsoConsumoPessoal" type="tsCodigoIndicadorOperacaoUsoConsumoPessoal" minOccurs="0"/>
			<xsd:element name="CodigoIndicadorOperacao" type="tsCodigoIndicadorOperacao" minOccurs="0"/>
			<xsd:element name="TipoOp" type="tsTipoOp" minOccurs="0"/>
			<xsd:element name="GrupoNFSeReferenciada" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ChaveNFSeReferenciada" type="tsChaveNFSeReferenciada" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TipoEnteGovernamental" type="tsTipoEnteGovernamental" minOccurs="0"/>
			<xsd:element name="IndDest" type="tsIndDest" minOccurs="0"/>
			<xsd:element name="Destinatario" type="tcDestinatario" minOccurs="0"/>
			<xsd:element name="Imovel" type="tcImovel" minOccurs="0"/>
			<xsd:element name="Valores" type="tcValoresIbsCbs" minOccurs="0"/>
	  	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcDestinatario">
	  	<xsd:sequence>
	  		<xsd:element name="CpfCnpj" type="tcCpfCnpj" minOccurs="0"/>
      	  	<xsd:element name="Nif" type="tsNif" minOccurs="0"/>
      	  	<xsd:element name="NaoNif" type="tsNaoNif"/>
      	  	<xsd:element name="Nome" type="tsDesc150" minOccurs="0"/>
      	  	<xsd:element name="Endereco" type="tcEndereco" minOccurs="0"/>
      	  	<xsd:element name="Contato" type="tcContato" minOccurs="0"/>
	  	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcImovel">
	  	<xsd:sequence>
      	  	<xsd:element name="InscImobFisc" type="tsInscImobFiscal" minOccurs="0"/>
      	  	<xsd:element name="CodigoCIB" type="tsCodigoCIB" minOccurs="0"/>
      	  	<xsd:element name="Endereco" type="tcEndereco" minOccurs="0"/>
	  	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcValoresIbsCbs">
	  	<xsd:sequence>
      	  	<xsd:element name="GrupoReeRepRes" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Documentos" type="tcDocumentos" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
      	  	<xsd:element name="TributosIbsCbs" type="tcTributosIbsCbs" minOccurs="0"/>
	  	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcDocumentos">
		<xsd:sequence>
			<xsd:element name="DocumentosFiscaisEletronicos" type="tcDocumentosFiscaisEletronicos" minOccurs="0" />
			<xsd:element name="DocumentosFiscaisOutro" type="tcDocumentosFiscaisOutro" minOccurs="0" />
			<xsd:element name="DocumentosOutro" type="tcDocumentosOutro" minOccurs="0" />
			<xsd:element name="Fornecedor" type="tcFornecedor" minOccurs="0" />
			<xsd:element name="DataEmissaoDocumento" type="xsd:dateTime" minOccurs="0" />
			<xsd:element name="DataCompetenciaDocumento" type="xsd:dateTime" minOccurs="0" />
			<xsd:element name="TipoReeRepRes" type="tsTipoReeRepRes" minOccurs="0" />
			<xsd:element name="DescTipoReeRepRes" type="tsDesc150" minOccurs="0" />
			<xsd:element name="ValorReeRepRes" type="tsValor" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcDocumentosFiscaisEletronicos">
		<xsd:sequence>
			<xsd:element name="TipoChaveDFe" type="tsTipoChaveDFe" minOccurs="0" />
			<xsd:element name="DescTipoChaveDFe" type="tsDesc255" minOccurs="0" />
			<xsd:element name="ChaveDFe" type="tsDesc50" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcDocumentosFiscaisOutro">
		<xsd:sequence>
			<xsd:element name="CodigoMunicipioDocFiscal" type="tsCodigoMunicipioDocFiscal" minOccurs="0" />
			<xsd:element name="NumeroDocumentoFiscal" type="tsDesc255" minOccurs="0" />
			<xsd:element name="DescTipoChaveDFe" type="tsDesc255" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcDocumentosOutro">
		<xsd:sequence>
			<xsd:element name="NumeroDocumentoOutro" type="tsDesc255" minOccurs="0" />
			<xsd:element name="DescDocumentoOutro" type="tsDesc255" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcFornecedor">
		<xsd:sequence>
			<xsd:element name="CpfCnpj" type="tcCpfCnpj" minOccurs="0" />
			<xsd:element name="Nif" type="tsNif" minOccurs="0"/>
      	  	<xsd:element name="NaoNif" type="tsNaoNif"/>
			<xsd:element name="Nome" type="tsDesc150" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcTributosIbsCbs">
	  	<xsd:sequence>
      	  	<xsd:element name="GrupoIbsCbs" type="tcGrupoIbsCbs" minOccurs="0"/>
	  	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcGrupoIbsCbs">
		<xsd:sequence>
			<xsd:element name="CST" type="tsCST" minOccurs="0" />
			<xsd:element name="CodigoClassTrib" type="tsCodigoClassTrib" minOccurs="0" />
			<xsd:element name="CodigoCreditoPresumido" type="tsCodigoCreditoPresumido" minOccurs="0" />
			<xsd:element name="GrupoInfoTributacaoRegular" type="tcGrupoInfoTributacaoRegular" minOccurs="0" />
			<xsd:element name="GrupoDiferimento" type="tcGrupoDiferimento" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcGrupoInfoTributacaoRegular">
		<xsd:sequence>
			<xsd:element name="CodigoSitTribReg" type="tsCST" minOccurs="0" />
			<xsd:element name="CodigoClassTribReg" type="tsCodigoClassTrib" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcGrupoDiferimento">
		<xsd:sequence>
			<xsd:element name="PercentualDiferimentoIbsUf" type="tsValor" minOccurs="0" />
			<xsd:element name="PercentualDiferimentoIbsMun" type="tsValor" minOccurs="0" />
			<xsd:element name="PercentualDiferimentoCbs" type="tsValor" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcInfRps">
		<xsd:sequence>
			<xsd:element name="IdentificacaoRps" type="tcIdentificacaoRps"/>
			<xsd:element name="DataEmissao" type="xsd:dateTime"/>
			<xsd:element name="NaturezaOperacao" type="tsNaturezaOperacao"/>
			<xsd:element name="RegimeEspecialTributacao" type="tsRegimeEspecialTributacao" minOccurs="0"/>
			<xsd:element name="OptanteSimplesNacional" type="tsSimNao"/>
			<xsd:element name="IncentivadorCultural" type="tsSimNao"/>
			<xsd:element name="Status" type="tsStatusRps"/>
			<xsd:element name="RpsSubstituido" type="tcIdentificacaoRps" minOccurs="0"/>
			<xsd:element name="Servico" type="tcDadosServico"/>
			<xsd:element name="Prestador" type="tcIdentificacaoPrestador"/>
			<xsd:element name="Tomador" type="tcDadosTomador" minOccurs="0"/>
			<xsd:element name="IntermediarioServico" type="tcIdentificacaoIntermediarioServico" minOccurs="0"/>
			<xsd:element name="ConstrucaoCivil" type="tcDadosConstrucaoCivil" minOccurs="0"/>
			<xsd:element name="Eventos" type="tcDadosEventos" minOccurs="0"/>
			<xsd:element name="Exportacao" type="tcDadosExportacao" minOccurs="0"/>
			<xsd:element name="ExploracaoRodovias" type="tcDadosExploracaoRodovias" minOccurs="0"/>
			<xsd:element name="LocacaoSublocacao" type="tcDadosLocacaoSublocacao" minOccurs="0"/>
			<xsd:element name="IbsCbs" type="tcDadosIbsCbs" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="Id" type="tsIdTag"/>
	</xsd:complexType>
	<xsd:complexType name="tcRps">
		<xsd:sequence>
			<xsd:element name="InfRps" type="tcInfRps"/>
			<xsd:element ref="dsig:Signature" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcIdentificacaoNfse">
		<xsd:sequence>
			<xsd:element name="Numero" type="tsNumeroNfse"/>
			<xsd:element name="Cnpj" type="tsCnpj"/>
			<xsd:element name="InscricaoMunicipal" type="tsInscricaoMunicipal" minOccurs="0"/>
			<xsd:element name="CodigoMunicipio" type="tsCodigoMunicipioIbge"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcInfNfse">
		<xsd:sequence>
			<xsd:element name="Numero" type="tsNumeroNfse"/>
			<xsd:element name="CodigoVerificacao" type="tsCodigoVerificacao"/>
			<xsd:element name="DataEmissao" type="xsd:dateTime"/>
			<xsd:element name="IdentificacaoRps" type="tcIdentificacaoRps" minOccurs="0"/>
			<xsd:element name="DataEmissaoRps" type="xsd:date" minOccurs="0"/>
			<xsd:element name="NaturezaOperacao" type="tsNaturezaOperacao"/>
			<xsd:element name="RegimeEspecialTributacao" type="tsRegimeEspecialTributacao" minOccurs="0"/>
			<xsd:element name="OptanteSimplesNacional" type="tsSimNao"/>
			<xsd:element name="IncentivadorCultural" type="tsSimNao"/>
			<xsd:element name="Competencia" type="xsd:date"/>
			<xsd:element name="NfseSubstituida" type="tsNumeroNfse" minOccurs="0"/>
			<xsd:element name="OutrasInformacoes" type="tsDesc255" minOccurs="0"/>
			<xsd:element name="Servico" type="tcDadosServico"/>
			<xsd:element name="ValorCredito" type="tsValor" minOccurs="0"/>
			<xsd:element name="PrestadorServico" type="tcDadosPrestador"/>
			<xsd:element name="TomadorServico" type="tcDadosTomador"/>
			<xsd:element name="IntermediarioServico" type="tcIdentificacaoIntermediarioServico" minOccurs="0"/>
			<xsd:element name="OrgaoGerador" type="tcIdentificacaoOrgaoGerador"/>
			<xsd:element name="ConstrucaoCivil" type="tcDadosConstrucaoCivil" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="Id" type="tsIdTag"/>
	</xsd:complexType>
	<xsd:complexType name="tcNfse">
		<xsd:sequence>
			<xsd:element name="InfNfse" type="tcInfNfse"/>
			<xsd:element ref="dsig:Signature" maxOccurs="2"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcInfPedidoCancelamento">
		<xsd:sequence>
			<xsd:element name="IdentificacaoNfse" type="tcIdentificacaoNfse"/>
			<xsd:element name="CodigoCancelamento" type="tsCodigoCancelamentoNfse"/>
		</xsd:sequence>
		<xsd:attribute name="Id" type="tsIdTag"/>
	</xsd:complexType>
	<xsd:complexType name="tcPedidoCancelamento">
		<xsd:sequence>
			<xsd:element name="InfPedidoCancelamento" type="tcInfPedidoCancelamento"/>
			<xsd:element ref="dsig:Signature" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcInfConfirmacaoCancelamento">
		<xsd:sequence>
			<xsd:element name="Sucesso" type="xsd:boolean"/>
			<xsd:element name="DataHora" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcConfirmacaoCancelamento">
		<xsd:sequence>
			<xsd:element name="Pedido" type="tcPedidoCancelamento"/>
			<xsd:element name="InfConfirmacaoCancelamento" type="tcInfConfirmacaoCancelamento"/>
		</xsd:sequence>
		<xsd:attribute name="Id" type="tsIdTag"/>
	</xsd:complexType>
	<xsd:complexType name="tcCancelamentoNfse">
		<xsd:sequence>
			<xsd:element name="Confirmacao" type="tcConfirmacaoCancelamento"/>
			<xsd:element ref="dsig:Signature"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcInfSubstituicaoNfse">
		<xsd:sequence>
			<xsd:element name="NfseSubstituidora" type="tsNumeroNfse"/>
		</xsd:sequence>
		<xsd:attribute name="Id" type="tsIdTag"/>
	</xsd:complexType>
	<xsd:complexType name="tcSubstituicaoNfse">
		<xsd:sequence>
			<xsd:element name="SubstituicaoNfse" type="tcInfSubstituicaoNfse"/>
			<xsd:element ref="dsig:Signature" maxOccurs="2"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcCompNfse">
		<xsd:sequence>
			<xsd:element name="Nfse" type="tcNfse"/>
			<xsd:element name="NfseCancelamento" type="tcCancelamentoNfse" minOccurs="0"/>
			<xsd:element name="NfseSubstituicao" type="tcSubstituicaoNfse" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ListaMensagemRetorno">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MensagemRetorno" type="tcMensagemRetorno" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="tcMensagemRetorno">
		<xsd:sequence>
			<xsd:element name="Codigo" type="tsCodigoMensagemAlerta"/>
			<xsd:element name="Mensagem" type="tsDescricaoMensagemAlerta"/>
			<xsd:element name="Correcao" type="tsDescricaoMensagemAlerta" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcMensagemRetornoLote">
		<xsd:sequence>
			<xsd:element name="IdentificacaoRps" type="tcIdentificacaoRps"/>
			<xsd:element name="Codigo" type="tsCodigoMensagemAlerta"/>
			<xsd:element name="Mensagem" type="tsDescricaoMensagemAlerta"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tcLoteRps">
		<xsd:sequence>
			<xsd:element name="NumeroLote" type="tsNumeroLote"/>
			<xsd:element name="Cnpj" type="tsCnpj"/>
			<xsd:element name="InscricaoMunicipal" type="tsInscricaoMunicipal"/>
			<xsd:element name="QuantidadeRps" type="tsQuantidadeRps"/>
			<xsd:element name="ListaRps">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Rps" type="tcRps" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Id" type="tsIdTag"/>
	</xsd:complexType>
</xsd:schema>
